<div class="containerLogo">
<div class="companyName"><h1><%= link_to 'LETTERGRAM', root_url %></h1></div>
<div class="userStatus">
<% if current_user %>
  Logged in as <%= current_user.name %>.
  <%= link_to "Log Out", session_path("current"), method: 'delete' %>
<% else %>
  <%= link_to "Log In", login_path %>
  <%= link_to "Sign Up", signup_path %>
<% end %>
</div>
</div>
<div class="steps"><h1>Step Three: Add A Message.</h1></div>
<h1>Message#new</h1>
<p>Find me in app/views/message/new.html.erb</p>

<div class="optionPay"><%= link_to 'Pay and Post', step_four_path %></div>
