<div class="containerLogo">
<div class="companyName"><h1><%= link_to 'LETTERGRAM', root_url %></h1></div>
<div class="userStatus">
<% if current_user %>
  Logged in as <%= current_user.name %>.
  <%= link_to "Log Out", session_path("current"), method: 'delete' %>
<% else %>
  <%= link_to "Log In", login_path %>
  <%= link_to "Sign Up", signup_path %>
<% end %>
</div>
</div>
<div class="steps"><h1>Step one: Choose an option.</h1></div>
<img class = "images" id = "left_image" src = "images/left.jpg"> 
<img class = "images" id = "right_image" src = "images/right.jpg"> 

<div class="optionGallery"><%= link_to 'Browse Gallery', step_two_gallery_path %></div>

<div class="optionDesign"><%= link_to 'Design My Own!', step_two_design_path %></div>