<div class="containerLogo">
<div class="companyName"><h1><%= link_to 'LETTERGRAM', root_url %></h1></div>
<div class="userStatus">
<% if current_user %>
  Logged in as <%= current_user.name %>.
  <%= link_to "Log Out", session_path("current"), method: 'delete' %>
<% else %>
  <%= link_to "Log In", login_path %>
  <%= link_to "Sign Up", signup_path %>
<% end %>
</div>
</div>
<div id="step1" ><h1>Step one: Choose an option.</h1></div>



<table align="center">
	<tr>
		<td>
			<div id="left" class="image">
        <%= link_to image_tag("cardimages/left.jpg"), step_two_gallery_path%>
			</div>
		</td>
		<td>
			<div id="right" class="letterimage">
				<%= link_to image_tag("cardimages/right.jpg"), step_two_design_path%>
			</div>
		</td>
</tr> 
<table>
<div class="space-div"></div>
<div class="optionGallery" id="browse"><%= link_to 'Browse Gallery', step_two_gallery_path %></div>
<div class="optionDesign" id="design"><%= link_to 'Design My Own!', step_two_design_path %></div>




