<div class="containerLogoMain">
<div class="space-div"></div>
<div class="companyNameMain"><h1><%= link_to 'lettergram', root_url %></h1></div>
<div class="userStatus">
<ul>
    <li><a href="#">Account</a>
        <ul>
            <% if current_user %>
                <li style="font-size:16px;">Logged in as <%= current_user.name %>.</li>
                <li><%= link_to "Log Out", session_path("current"), method: 'delete' %></li>
            <% else %>
                <li><%= link_to "Log In", login_path %></li>
                <li><%= link_to "Sign Up", signup_path %></li>
            <% end %>
        </ul>
    </li>
    <a href="#"><li>About</li></a>
    <li><a href="#">Products</a>
        <ul>
            <a href="#"><li>Choose from a template</li></a>
            <a href="#"><li>Design your Own</li></a>  
        </ul>
    </li>
    <a href="#"><li>Contact</li></a>
</ul>  

</div>
  <h3 class="create-top" align="center"><%= link_to 'send a letter now', step_one_path %></h3>
</div>

<div class="flashMessage">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, id: "flash_#{name}" %>
  <% end %>
</div>

<div class="container">
  <h1>How it works</h1>
  <h2>Pick a card</h2>
  <h2>Pick a font</h2>
  <h2>Write a message</h2>
  <h3><%= link_to 'Create a Lettergram', step_one_path %></h3>
</div>