<div class="containerLogoMain">
<div class="companyName"><h1><%= link_to 'LETTERGRAM', root_url %></h1></div>
<div class="userStatus">
<% if current_user %>
  Logged in as <%= current_user.name %>.
  <%= link_to "Log Out", session_path("current"), method: 'delete' %>
<% else %>
  <%= link_to "Log In", login_path %>
  <%= link_to "Sign Up", signup_path %>
<% end %>
</div>
  <h3><%= link_to 'Create a Lettergram', step_one_path %></h3>
</div>

<div class="flashMessage">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, id: "flash_#{name}" %>
  <% end %>
</div>

<div class="container">
  <h1>How it works</h1>
  <h2>Pick a card</h2>
  <h2>Pick a font</h2>
  <h2>Write a message</h2>
  <h3><%= link_to 'Create a Lettergram', step_one_path %></h3>
</div>