<div class="containerLogo">
<div class="companyName"><h1><%= link_to 'LETTERGRAM', root_url %></h1></div>
<div class="userStatus">
<% if current_user %>
  Logged in as <%= current_user.name %>.
  <%= link_to "Log Out", session_path("current"), method: 'delete' %>
<% else %>
  <%= link_to "Log In", login_path %>
  <%= link_to "Sign Up", signup_path %>
<% end %>
</div>
</div>
<div class="steps"><h1>Step two: Choose a card.</h1></div>
<h1>Gallery#new</h1>
<p>Find me in app/views/gallery/new.html.erb</p>

<p>Image Test</p>
<center>
<table>
	<tr>
		<td>
			<div id="img_box" class="letterimage">
				<%=image_tag("letterimage.jpg")%>
			</div>
		</td>
		<td>
			<div id="img_box" class="letterimage">
				<%=image_tag("letterimage.jpg")%>
			</div>
		</td>
		<td>
			<div id="img_box" class="letterimage">
				<%=image_tag("letterimage.jpg")%>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div id="img_box" class="letterimage">
				<%=image_tag("letterimage.jpg")%>
			</div>
		</td>
		<td>
			<div id="img_box" class="letterimage">
				<%=image_tag("letterimage.jpg")%>
			</div>
		</td>
		<td>
			<div id="img_box" class="letterimage">
				<%=image_tag("letterimage.jpg")%>
			</div>
		</td>		
	</tr>
</table>
</center>
<div class="optionMessage"><%= link_to 'Add A Message', step_three_path %></div>
